.nav {
  height: 100%;
  width: 50%;
  max-width: 30rem;
  background-color: var(--card);
  position: absolute;
  padding: 1rem 0.7rem;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(-110%);
}
.nav header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav header h2 {
  color: var(--text);
}

.nav header button {
  height: 3rem;
  aspect-ratio: 1/1;
  color: var(--text);
}

.nav section:nth-child(2) {
  margin-top: 3rem;
}
.nav section:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list button {
  position: relative;
  font-weight: 800;
  color: var(--text);
  background-color: var(--bg);
  padding: 0.2rem 1rem;
  border-radius: 5px;
}

.indikator {
  display: inline-flex;
  content: "";
  position: absolute;
  height: 0.3rem;
  aspect-ratio: 1/1;
  background-color: var(--success);
  border-radius: 50%;
  left: 100%;
  bottom: 100%;
}

.nav section:nth-child(3) {
  margin-top: 1rem;
}
