@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bg: #0f172a;
  --card: #1e293b;
  --primary: #38bdf8;
  --success: #2dd4bf;
  --text: #f8fafc;
}
*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg);
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

main {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100svh;
  max-width: 70rem;
  overflow: hidden;
}

.bhgjik {
  width: 100%;
  height: 100svh;
  /* background-color: yellow; */
  overflow: auto;

  /* Untuk Chrome, Safari, dan Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Untuk IE, Edge, dan Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bhgjik header,
.bhgjik section {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 2% 2% 0 0;
  color: var(--text);
}

.bhgjik header {
  align-items: center;
  gap: 0.5rem;
}

.bhgjik section button {
  /* background-color: #38bdf8; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.bhgjik section button span {
  background-color: var(--card);
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  color: var(--success);
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bhgjik section button i {
  padding: 0.3rem;
  background-color: var(--card);
  color: var(--success);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-lists {
  padding: 5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  width: 90%;
  max-width: 30rem;
  /* background-color: #38bdf8; */
}
.todo-item {
  display: flex;
  gap: 0.4rem;
  background-color: var(--card);
  color: var(--success);
  padding: 0.3rem 1rem;
  border-radius: 3px;
  font-weight: 600;
  align-items: center;
}

.todo-item span {
  flex: 1;

  /* Tambahan agar teks turun ke bawah */
  white-space: normal; /* Memastikan teks bisa membungkus ke baris baru */
  overflow-wrap: break-word; /* Memecah kata yang terlalu panjang agar tidak keluar batas */
  word-wrap: break-word; /* Fallback untuk browser lama */
  min-width: 0; /* Sangat penting di Flexbox agar elemen tidak melebihi parent-nya */
}
.btn-aksi {
  height: 2rem;
  aspect-ratio: 1/1;
  /* border-radius: 50%; */
  /* background-color: #2dd4bf; */
  color: var(--text);
}
