@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  width: 90%;
  max-width: 30rem;
  height: 100svh;
  margin: auto;
  padding: 5rem 0 0 0;
}
main header {
  width: 100%;
}

main header span {
  font-weight: 900;
  font-size: 1.8em;
}

.container-input {
  width: 100%;
  margin: 3rem 0 3rem 0;
}
.container-input div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1rem 0 0;
}

.container-input div input {
  flex: 1;
  height: 2rem;
  padding: 0 0 0 1rem;
  border: none;
  background: transparent;
  outline: 1px solid black;
  border-radius: 5px;
}

.container-input div button {
  height: 2rem;
  aspect-ratio: 1/1;
}

.container-input div button i {
  scale: 1.4;
}

.container-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lists {
  width: 100%;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
}
.content {
  flex: 1;
  padding: 0 0 0 0.5rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.check {
  height: 70%;
  cursor: pointer;
}

.delete {
  display: inline-flex;
  height: 90%;
  aspect-ratio: 1/1;
}

.konten-nonactive {
  text-decoration: line-through;
  color: rgb(129, 129, 129);
}
