@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  width: 90%;
  max-width: 30rem;
  height: 100svh;
  margin: auto;
  padding: 5rem 0 0 0;
}
main header {
  width: 100%;
}

main header span {
  font-weight: 900;
  font-size: 1.8em;
}

.container-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lists {
  width: 100%;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
}
.content {
  flex: 1;
  padding: 0 0 0 0.5rem;
  font-weight: 700;
}

.check,
.delete {
  display: inline-flex;
  height: 90%;
  aspect-ratio: 1/1;
}
